%div.branch
  - branch.leafs.paginated_each do |l|
    - if l == branch.leafs.first
      %div{:class => "firstleaf", :id => "#{l.id}"}
        = render :partial => 'leafs/first_leaf', :locals => {:leaf => l, :branch => branch}
    - else
      %div{:class => "leaf", :id => "#{l.id}"}
        = render l

%br{:style => "clear:both"}
%hr
