- unless branch == nil
  - f = branch.leafs.first
  - unless f == nil
    %div.branch
      %div.firstleaf
        - if(!(request.request_uri =~ /leafs/))
          %div.replylink=link_to 'Reply', "/leafs/new?branch=#{branch.id}"
        = render f
  - for i in 1..branch.leafs.length-1
    %div.leaf
      = render branch.leafs[i]
%br{:style => "clear:both"}
%hr
