<h1>FortTree</h1>

<%= render 'form' %>

<% @branches.each do |branch| %>
  <% branch.leafs.each do |l| %>
  <%= render l %>
  <% end %>
<% end %>

<br />

<%= link_to 'New Branch', new_branch_path %>
