#themes {
  float: right;
}

.hide {
  display: none;
}

.postarea_container {
  position: relative;
}

.postarea {
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  width: 50%;
}

.postarea table {
  margin: 0 auto;
  text-align: left;
}

#smiley_helper {
 /* position:absolute;
  right:67px;
  top:117px;
  width:200px;*/
  text-align: center;
  padding: 5px;
  position:absolute;
  right:0;
  top:0;
  min-height:300px;
}

#smiley_toggle {
/*  position:absolute;
  right:225px;
  top:127px;*/
  position:absolute;
  right:40px;
  top:15px;
}

/*#notice {
  color: green;
}*/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.flash_success {
  color: green;
  width: 450px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.flash_success h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #008319;
  color: #fff;
}

.flash_error {
  color: red;
}

.replyheader {
  background: #E04000;
  text-align: center;
  padding: 2px;
  color: white;
  width: 100%;
}
