<div class="leaf">
    <p>
      <b>Name:</b>
      <%= leaf.name %>
    </p>
    <p>
      <b>Time:</b>
      <%= leaf.created_at %>
    </p>
    <% unless leaf.photo.url == "/photos/original/missing.png" %>
    <%= link_to (image_tag leaf.photo.url(:thumb), :class=> 'thumb'), leaf.photo.url %> 
    <% end %>
    <% unless leaf.content.empty? %>
      <blockquote>
      <p><%= simple_format(auto_link(leaf.content)) %></p>
      </blockquote>
    <% end %>
</div>
