<table>
  <tbody>
    <tr>
      <td class="doubledash">
        >>
      </td>
      <td class="reply" id="reply<%="#{leaf.id}"%>">
        <%= render leaf %>
      </td>
    </tr>
  </tbody>
</table>
