<h1>New leaf</h1>
<p>
  <b>Last post in this thread:</b>
  <%= @branch.last_post_at %>
</p>

<%= render :partial => "layouts/form", :locals => { :newpost => @leaf, :leaf => @branch} %>
<%= render @branch %>
