<% @boards.each do |board| %>
  <%= link_to "/#{board.name}/", board %>
<% end %>

<h2>latest posts...</h2>
<% @latest_posts.each do |post| %>
  <h3>in <%= link_to "/#{post.board_name}/", post.board %><h3>
      <%= link_to image_tag(post.photo.url(:thumb)), edit_board_post_path(post.board_id, post.branch_id) %>
<% end %>
