<h2>latest posts...</h2>
<% @latest_posts.each do |post| %>
  <h3>in <%= link_to "/#{post.board_name}/", post.board %><h3>
      <%= link_to image_tag(post.photo.url(:thumb)), board_path(post.board) %>
<% end %>
