<% @boards.each do |board| %>
  <%= link_to "/#{board.name}/", board %>
<% end %>

<h2>latest posts...</h2>
<% @latest_posts.each do |post| %>
  <h3>in <%= link_to post.board_name %><h3>
  <%= render post %>
<% end %>
