<h1>New leaf</h1>
<h2><%=link_to "/#{@board.name}/", @board%></h2>
<p>
  <b>Last post in this thread:</b>
  <%= @branch.last_post_at %>
</p>

<div class="replyheader">Posting mode: Reply</div>

<%= render :partial => "layouts/form", :locals => { :post_form => @post_form } %>
<%= render @branch %>
