@mixin gradient($color1, $color2) {
  background: $color1; /* for non-css3 */
  background: -moz-linear-gradient(top, $color1, $color2);
  background: -o-linear-gradient(top, $color1, $color2);
  background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}');
}

@mixin border-radius($radii) {
  -moz-border-radius: $radii;
  -webkit-border-radius: $radii;
  -o-border-radius: $radii;
  -ms-border-radius: $radii;
  border-radius: $radii;
}

#themes {
  float: right;
}

.postarea_container {
  position: relative;
}

.postarea {
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  width: 50%;
}

.postarea table {
  margin: 0 auto;
  text-align: left;
}

#smiley_helper {
  /* position:absolute;
  right:67px;
  top:117px;
  width:200px;*/
  text-align: center;
  padding: 5px;
  position:absolute;
  right:0;
  top:0;
  min-height:300px;
}

#smiley_toggle {
  /*  position:absolute;
  right:225px;
  top:127px;*/
  position:absolute;
  right:40px;
  top:15px;
}

/*#notice {
  color: green;
}*/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.flash_success {
  color: green;
  width: 450px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.flash_success h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #008319;
  color: #fff;
}

.flash_error {
  color: red;
}

.replyheader {
  background: #E04000;
  text-align: center;
  padding: 2px;
  color: white;
  width: 100%;
}

body {
  margin: 0;
  padding: 8px;
  margin-bottom: auto;
}

blockquote blockquote {
  margin-left: 0em;
}

form {
  margin-bottom: 0px;
}

form .trap {
  display: none;
}

.postarea {
  text-align: center;
}

.postarea table {
  margin: 0px auto;
  text-align: left
}

.thumb {
  border: none;
  float: left;
  margin: 2px 20px
}

.nothumb {
  float: left;
  background: #eee;
  border: 2px dashed #aaa;
  text-align: center;
  margin: 2px 20px;
  padding: 1em 0.5em 1em 0.5em;
}

.reply blockquote,
blockquote:last-child {
  margin-bottom: 0;
}

.reflink a {
  color: inherit;
  text-decoration: none;
}

.reply .filesize {
  margin-left: 20px
}

.userdelete {
  float: right;
  text-align: center;
  white-space: nowrap
}

.replypage .replylink {
  display: none;
}

/* wakaba rip */
html, body {
  background:#FFFFEE;
  color:#800000;
}

a {
  color:#0000EE;
}

a:hover {
  color:#DD0000;
}

.adminbar {
  text-align:right;
  clear:both;
  float:right;
}

.logo {
  clear:both;
  text-align:center;
  font-size:2em;
  color:#800000;
  width:100%;
}

.theader {
  background:#E04000;
  text-align:center;
  padding:2px;
  color:#FFFFFF;
  width:100%;
}

.rules {
  font-size:0.7em;
}

.postblock {
  background:#EEAA88;
  color:#800000;
  font-weight:800;
}

.footer {
  text-align:center;
  font-size:12px;
  font-family:serif;
}

.passvalid {
  background:#EEAA88;
  text-align:center;
  width:100%;
  color:#ffffff;
}

.dellist {
  font-weight: bold;
  text-align:center;
}

.delbuttons {
  text-align:center;
  padding-bottom:4px;

}

.managehead {
  background:#AAAA66;
  color:#400000;
  padding:0px;
}

.postlists {
  background:#FFFFFF;
  width:100%;
  padding:0px;
  color:#800000;
}

.row1 {
  background:#EEEECC;
  color:#800000;
}

.row2 {
  background:#DDDDAA;
  color:#800000;
}

.unkfunc {
  background:inert;
  color:#789922;
}

.filesize {
  text-decoration:none;
}

.filetitle {
  background:inherit;
  font-size:1.2em;
  color:#CC1105;
  font-weight:800;
}

.postername {
  color:#117743;
  font-weight:bold;
}

.postertrip {
  color:#228854;
}

.oldpost {
  color:#CC1105;
  font-weight:800;
}

.omittedposts {
  color:#707070;
}

.doubledash {
  vertical-align:top;
  clear:both;
  float:left;
}

.replytitle {
  font-size: 1.2em;
  color:#CC1105;
  font-weight:800;
}

.commentpostername {
  color:#117743;
  font-weight:800;
}

.thumbnailmsg {
  font-size: small;
  color:#800000;
}



.abbrev {
  color:#707070;
}
.highlight {
  background:#F0E0D6;
  color:#800000;
  border: 2px dashed #EEAA88;
}

.forttree-banner {
  max-height: 400px;
}

#forttree-3d-content canvas {
  border-radius: 50px;
}

.forttree-box {
  float: left;
  margin-right: 10px;
}
