/*
 *= require_self
 */
@import "../application.css.scss";

body {
  background: #000000;
  color: #555555;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #fff; }
a:hover { color: #555; }

h1 a {
  color: #330033;
  text-decoration: none;
}



.firstleaf, .firstleaf img, .leaf,
.postarea, .replylink {
}

.firstleaf, .leaf, .postarea,
.replylink {
}

.firstleaf {
  padding: 15px;
}

.firstleaf img {
  padding: 10px;
}

.firstleaf blockquote, .leaf blockquote {
  margin-bottom: 10px;
}

.leaf {
  padding: 15px;
  margin: 0 0 5px 0;
  overflow: hidden;
  background:none repeat scroll 0 0 #111;
  color:#555;
}

.thumb {
  float:left;
  margin-right: 10px;
  border: none;
}

.branch {
  margin-top: 30px;
  margin-bottom: 30px;
}


.formbox, .submitbutton
{
}

.formbox {
  padding: 10px;
}

.formbox select {
  border: 1px solid #7bdb84;
}

.field {
  margin-bottom: 20px;
}

.fieldlabel {
  padding: 10px;
  background:none repeat scroll 0 0 #111;
  color:#555;
  font-weight:800;
}

.actions {
  margin-bottom: 20px;
  margin: 10px auto;
  text-align: center;
}

.submitbutton {
}

.replylink {
  padding: 10px;
  text-align: center;
  width: 80px;
  font-size: 20px;
  float: right;
  position: relative;
  top: 15px;
}

.replylink a {
  color: #330033;
}

.replylink a:hover {
  @include gradient(#1b9e4f, #b1deb6);
  font-size: 105%;
}

#smiley_helper {
  background:none repeat scroll 0 0 #111;
  color:#555;
}
