@import url("../application.css");

body {
  background: #ffffff; /* for non-css3 */
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  color: #66066;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ff69ec; }
a:hover { color: #555; }

h1 a {
  text-decoration: none;
}


.firstleaf, .firstleaf img, .leaf,
.postarea, .replylink {
  background: #ff69ec; /* for non-css3 */
  background: -moz-linear-gradient(top, #ff69ec, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff69ec), to(#ffffff));
}

.firstleaf, .leaf, .postarea {
  -moz-border-radius:    0px 50px 50px 50px;
  -webkit-border-radius: 0px 50px 50px 50px;
  border-radius:         0px 50px 50px 50px;
}

.firstleaf {
  padding: 15px;
}

.firstleaf img {
  -moz-border-radius:    0px 20px 20px 20px;
  -webkit-border-radius: 0px 20px 20px 20px;
  border-radius:         0px 20px 20px 20px;
  padding: 10px;
}

.firstleaf blockquote, .leaf blockquote {
  margin-bottom: 10px;
}

.leaf {
  padding: 15px;
  overflow: hidden;
}

.thumb {
  float:left;
  margin-right: 10px;
  border: none;
}

.branch {
  margin-top: 30px;
  margin-bottom: 30px;
}


.formbox, .submitbutton
{
  background: #fff; /* for non-css3 */
  background: -moz-linear-gradient(top, #fff, #ddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

.formbox {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  padding: 10px;
}

.formbox select {
  border: 1px solid #7bdb84;
}

.field {
  margin-bottom: 20px;
}

.fieldlabel {
  padding: 10px;
}

.actions {
  margin-bottom: 20px;
  margin: 10px auto;
  text-align: center;
}

.submitbutton {
  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  border-radius:         2px;
  padding: 5px;
}

.replylink {
  padding: 10px;
  text-align: center;
  width: 80px;
  font-size: 20px;
  float: right;
  position: relative;
  top: 15px;
  -moz-border-radius:    40px 0px 40px 40px;
  -webkit-border-radius: 40px 0px 40px 40px;
  border-radius:         40px 0px 40px 40px;
}

.replylink a {
  color: #66066;
}

.replylink a:hover {
  font-size: 105%;
}

#smiley_helper {
  -moz-border-radius:    40px 0px 40px 40px;
  -webkit-border-radius: 40px 0px 40px 40px;
  border-radius:         40px 0px 40px 40px;
  background: #ddd;
}

hr {
  color: #66066;
}
