@import url("../base.css");

body {
  background: #ffffee;
  color: #800000;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #555; }

h1 a {
  color: #800000;
  text-decoration: none;
}

.firstleaf, .firstleaf img, .leaf,
.postarea, .replylink {
}

.firstleaf, .leaf, .postarea,
.replylink {
}

.firstleaf {
}

.firstleaf img {
}

.firstleaf blockquote, .leaf blockquote {
}

.leaf {
}

.thumb {
}

.branch {
}


.formbox, .submitbutton
{
}

.formbox {
}

.formbox select {
  border: 1px solid #7bdb84;
}

.field {
}

.fieldlabel {
}

.actions {
  margin-bottom: 20px;
  margin: 10px auto;
  text-align: center;
}

.submitbutton {
}

.replylink {
}

.replylink a {
}

.replylink a:hover {
  /* background: #058337;
  background: -moz-linear-gradient(top, #1b9e4f, #b1deb6);
  background: -webkit-gradient(linear, left top, left bottom, from(#1b9e4f), to(#b1deb6)); */
}

#smiley_helper {
  background:none repeat scroll 0 0 #F0E0D6;
  color:#800000;
}

.reply {
	background:#F0E0D6;
	color:#800000;
}
